*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     background-color: #313539;
     font-family: 'Vollkorn', serif;
     font-size: 15px;
     line-height: 1.75;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}
main{
     margin-left: 20rem;
     padding: 3% 7% 2% 7%;
}
h1{
     color: whitesmoke;
     text-transform: uppercase;
     font-size: 40px;
}
h2{
     color: #c0996b;
     text-transform: uppercase;
     font-size: 15px;
}
p{
     color: #afafaf;
     margin-top: 2rem;
}
nav{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     width: 20rem;
     height: 100%;
     position: fixed;
     background-color: #161414;
     text-align: center;
}
nav ul{
     margin-top: 5rem;
     padding-top: 3rem;
     padding-bottom: 3rem;
} 
nav ul a{
     color: whitesmoke;
     text-decoration: none;
     font-size: 20px;
}
nav ul a:hover{
     color: #c0996b;
}
header{
     position: relative;
     margin-left: 20rem;
     width: 100%;
     height: 30vh;
}
header img{
     width: 100%;
     max-height: 30vh;
}
a{
     text-decoration: none;
}
.logo{
     padding: 5rem

}
footer{
     margin-left: 20rem;
     margin-top: 2rem;
     margin-bottom: 3rem;
     padding-left: 3rem;
     text-decoration: none;
     color: #afafaf;
     width: 100vw;
     display: flex;
     flex-direction: column;
}
footer a{
     color: #afafaf;
     font-size: 17px;
}
footer a:hover{
     color: #c0996b;
}
.index-pic img{
     height: 200px;
     width: 300px;
     margin-top: 2rem;
     margin-right: 2rem;
}
.buttons{
     margin-left: 3.5rem;
     padding-top: 2rem;
}
.buttons a{
     font-size: 35px;
     text-decoration: none;
     color: whitesmoke;
     border: 2px solid #afafaf;
     margin-right: 8rem;
     padding: 10px;
} 
.buttons a:hover{
     color: #c0996b;
     border: 2px solid #afafaf;
}
.extra{
     margin-left: 20rem;
     margin-top: 2rem;
     width: 100vw;
     height: 350px;
     background-image: url(../media/images/image.jpg);
     background-size: 100% 350px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.extra h2{
     color: black;
     font-size: 50px;
}
.about-us-banner{
     background-image: url(../media/images/image.jpg);
     background-size: 100% 350px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.about-us-banner h1{
     color: black;
}
.about-us{
     padding: 0;
     background-color: rgb(21, 31, 31);
     width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}
.about-us-pic{
     display: flex;
     flex-direction: column;   
}
.about-us-pic img{
     width: 41vw;
     height: 400px;   
}
.about-us h2{
     color: whitesmoke;
     text-transform: uppercase;
     font-size: 25px;
}
.about-us h3{
     color: #c0996b;
     text-transform: uppercase;
     font-size: 15px;
}
aside{
     padding: 5%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     width: 41vw;
}
label{
     color: #afafaf;
     margin-top: 2rem;
}
legend{
     color: whitesmoke;
     text-transform: uppercase;
     font-size: 20px;
}
textarea{
     margin-left: 1rem;
     margin-right: 1rem;  
}
.gallery{
     padding: 10px;
     width: 22vw;
}
.category h2{
     font-size: 30px;
     color: whitesmoke;
}
.category h3{
     font-size: 22px;
     color: whitesmoke;
}
